<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="./css/main.css")
    title Document
  body
    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores aspernatur hic corporis voluptatibus eveniet nesciunt facilis id vel alias repudiandae mollitia, ratione ducimus atque obcaecati rem temporibus aut? Facilis, fuga?